@model SportsPro.Models.Product
@{
    ViewBag.Title = "Delete Product";
}

<h2>Confirm Deletion</h2>
<h3>@Model.Name</h3>

<form asp-action="Delete" method="post">


    <input type="hidden" asp-for="ProductID" />
    <input type="hidden" asp-for="Name" />

    <button type="submit" class="btn btn-outline-danger">Delete</button>
    <a asp-controller="Registration" asp-action="RegProduct"
       class="btn btn-outline-primary">Cancel</a>
</form>
