@model SportsPro.Models.Technician
@{
    ViewBag.Title = "Delete Technician";
}

<h2>Confirm Deletion</h2>
<h3>@Model.Name (@Model.Phone)</h3>

<form asp-action="Delete" method="post">

    @*binding the TechnicianID to a hidden field. form posts primary key of the
        product to be deleted to the Delete() action.*@
    <input type="hidden" asp-for="TechnicianID" />
    <input type="hidden" asp-for="Name" />

    <button type="submit" class="btn btn-outline-danger">Delete</button>
    <a asp-controller="Technician" asp-action="Index"
       class="btn btn-outline-primary">Cancel</a>
</form>

