@model SportsPro.Models.Incident
@{
    ViewBag.Title = "Delete Incident";
}

<h2>Confirm Deletion</h2>
<h3>@Model.Title</h3>

<form asp-action="Delete" method="post">

 
    <input type="hidden" asp-for="IncidentID" />
    <input type="hidden" asp-for="Title" />

    <button type="submit" class="btn btn-outline-danger">Delete</button>
    <a asp-controller="Incident" asp-action="Index"
       class="btn btn-outline-primary">Cancel</a>
</form>